.title_message{
    text-align: center;
    padding-top: 150px;

}
.title_strong_message{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
    
}

.cp_hr06 {
	position: relative;
	height: 4px;
	border-width: 0;
	background-image: -webkit-linear-gradient(left,
	transparent 0%,rgb(97, 33, 156) 50%,transparent 100%);
	background-image:         linear-gradient(90deg,
	transparent 0%,rgb(97, 33, 156) 50%,transparent 100%);

    width: 60%

}



.title_sub_message{
    line-height: 0.8rem;
}

.title_visit_message{
    font-size: 1.5rem;
    /* font-weight: bold; */

}.title_visit_message span{
    color: rgba(187, 19, 125, 0.8);
    font-size: 2.6rem;
    /* font-weight: bold; */
}




@media screen and (max-width: 480px) {
    .cp_hr06{
        width:90%;
    }.title_strong_message{
        font-size: 1.6rem;
    }.title_sub_message{
        line-height: 1.1rem;
    }.title_visit_message span{
        color: rgba(187, 19, 125, 0.8);
        font-size: 1.4rem;
        
        /* font-weight: bold; */
    }.title_visit_message{
        font-size: 0.9rem;
    }
    .title_message{
        text-align: center;
        padding-top: 70px;
        width: 90%;
    
    }

}