.main_content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.main_message{
    margin-top:auto;
    margin-bottom:auto;
    
}

.main_content img{
    width: 350px;
    height: 350px;
}

@media screen and (max-width: 480px) {
    .main_content img{
        width: 150px;
        height: 150px;
    }
    .main_content{
        display: flex;
        flex-flow: column;
        text-align: center;
    }.main_message{
        font-size: 0.85rem;
    }

}