.header_title{
    font-size: 1.4rem;
    font-weight: bold;
}

.header_div{
    background-color: #F7F8F9;
    /* padding-top: 15px;
    padding-bottom: 15px; */

    text-align: center;
    display: flex;
    justify-content:space-between ;

    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;

}


.header_div p{
    margin-right: 50px;
    margin-left: 50px;

    /* margin-top:auto;
    margin-bottom: auto; */
}


.header_contact{
    text-decoration: none;
    font-size: 1.2rem;
    /* font-weight: lighter; */
}





@media screen and (max-width: 480px) {
    .header_title{
        font-size: 0.8rem;
    }
    .header_div p{
        margin-right: 5px;
        margin-left: 5px;
    
    }.header_contact{
        font-size: 0.6rem;

    }
}