.product_contents_center{
    text-align: center;
    padding-bottom: 100px;
}

.product_points{
    text-align: left;
}

.product_strong_message{
    font-size: 1.2rem;
    color: rgb(97, 33, 156);
    font-weight: bold;
}


.product_title{
    text-align:center;
    padding-top:10px;
}

.product_title p{
    font-size: 2.5rem;
    font-weight: bold;
}





.product_link{
    text-decoration: none;
    font-size: 0.9rem;

}